body{
    background-image: url('../img/j-body-bg.jpg');
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}

#implementHeading{
    margin-top: 100px;
    font-size: 4rem;
}

.Mcardcon {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: auto;
}

.cardM {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.cardM .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.cardM .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background: #79AC78;
    color: white;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    pointer-events: none;
    transform: translateY(-96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.cardM .content .heading {
    font-size: 32px;
    font-weight: 700;
}

.cardM:hover .content {
    transform: translateY(0);
}

.cardM:hover .front-content {
    transform: translateY(30%);
}

.cardM:hover .front-content p {
    opacity: 0;
}

.cardMimg{
    width: 320px;
}
